h1(style="text-align:center;") Look Inna Book Admin
hr 
br
a(href="/bookManage") Manage Books
br
a(href="/stats") Look at the sales report
br
script(src="/js/logout.js")
button#logout(type="button", onclick="logout()") Logout
br
hr

