html
    head
        title Books 
    body
        include ../pages/header
        h2 Books:
        each val in books
            a(href="/books/"+val.isbn) #{val.title} genre: #{val.genre} price #{val.price}$
            br