html
    head
        title Books 
    body
        include ../pages/header
        h2 Books:
        each val in books
            div#book
                a(href="/books/"+val.isbn) #{val.title} 
                p genre: #{val.genre} 
                p price #{val.price}$
            br
