html
    head
        title Books 
    body
        include ../pages/header
        script(src="/js/addCart.js")
        h2 Books:
        each val in books
            div#book
                a(href="/books/"+val.isbn) #{val.title} 
                p genre: #{val.genre} 
                p price: #{val.price}$
                button#addcart(type="button", onclick="addCart('"+val.isbn+'&'+val.price+'&'+val.title+"')") Add to cart
            br
