html
    head
        title Your Cart 
    body
        include ../pages/header
        script(src="/js/remCart.js")
        h2 books in your cart:
        each val in books
            div#book
                a(href="/books/"+val.isbn) #{val.title} 
                p price: #{val.price}$
                button#addcart(type="button", onclick="remCart('"+val.user_id+'&'+val.isbn+'&'+val.order_id+"')") Remove from cart
            br
