html
    head
        title check out
        
    body
        h1(style="text-align:center;") Look Inna Book
        hr
        br
        p="Credit Card Number (If different from credit card associated with this user):"
        input#credit(type="textbox")
        p="Address (If different from one associated with this user):"
        input#address(type="textbox")
        button#checkout(type="button", onclick="checkOut()") checkOut
        script(src="/js/checkout.js")