h1(style="text-align:center;") Look Inna Book
hr
br
a(href="/books") Look at the books in the store
br
a(href="/cart") Look at what's in your shopping cart
br
a(href="/orders") Look at your orders
br
script(src="/js/logout.js")
button#logout(type="button", onclick="logout()") Logout
br
hr
