html
    head
        title Login
        
    body
        p="Username:"
        input#username(type="textbox")
        p="password:"
        input#password(type="textbox")
        button#login(type="button", onclick="getLogin()") Login
        script(src="/js/login.js")